<suite name="MakeMyTrip">
    <test name="Test">
        <listeners>
            <listener class-name="Listeners.TestListener"/>
        </listeners>
        <parameters>
            <parameter name="browser" value="chrome"/>
        </parameters>
        <classes>
            <class name="TestCases.TC01"/>
        </classes>
    </test>
</suite>