<Configuration Status="Warning">
    <Appenders>
        <Console name="console" Target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy mm:HH:ss} %-5p %c{1} [%L] %m%n"/>
        </Console>
        <File name="file" fileName="Automation.log">
            <PatternLayout pattern="%d{dd-MM-yyyy mm:HH:ss} %-5p %c{1} [%L] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>